<label for='message' class='form__label'>{{ section.settings.heading }}</label>
<div class='field'>
  <textarea
    id='message'
    class='text-area field__input'
    placeholder='Message'
    name='properties[Message]'
    form='product-form-{{ section.id }}'
  ></textarea>
</div>

{% schema %}
{
  "name": "Personalise",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Personalisation"
    }
  ],

  "presets": [
    {
      "name": "Personalisation"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
